{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="title">
    <h1>Our goals</h1>
</div>
<div class="body">
    <h5>The University of Exeter aims to have a carbon net zero impact by 2030, and we want to help!</h5>
    <br>
    <h5>Our goals:</h5>
    <ul>
        <li>Lead meaningful action against the climate emergency and ecological crisis.</li>
        <li>Make key breakthroughs to transform human health and wellbeing.</li>
        <li>Lead progress towards creating a fair, socially just and inclusive society.</li>
    </ul>
</div>
<div class="image">
    <img src="{% static 'Sustainable.png' %}" alt="" width="1276" height="633">
</div>
{% endblock %}