{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
<div class="title">
    <h1>Privacy Policy</h1>
</div>
<div class="body">
    <h4>Type of private information collected</h4>
    <p>To provide the best experience to you as a user, we collect the following types of information when you visit our website and use our app.</p>
    <h5>Personal information</h5>
    <p>We collect the following personal information from our users:</p>
    <ul>
        <li>First name</li>
        <li>Last name</li>
        <li>Email address</li>
    </ul>
    <p>You can always choose to provide less information. However, omitting some of this personal information may limit your ability to access all of the benefits of our website and app.</p>
    <h5>Location-based information</h5>
    <p>Certain features of our website and app require us to collect your information about your location.</p>
    <p>You can always choose to deny sharing your location. However, doing so may limit functionality of some features of our website and app.</p>
    <h5>Automatically collected information</h5>
    <p>We automatically collect data on how our users visit our website, such as your IP address, browser, browser language, operating system, device identifiers, and cookies.</p>
    <p>Our website currently uses cookies to enhance its functionality. You may disable cookies in your web browser, but this may limit your ability to access our website.</p>
    <br>
    <h4>How the information collected is used</h4>
    <p>How your information is handled will fully comply with all GDPR guidelines.</p>
    <p>We only use your personal information to help you utilise everything we have to offer. This includes:</p>
    <ul>
        <li>Creating and maintaining an account with us</li>
        <li>Accessing all features of our website and app</li>
        <li>Making all of our services available to you in a convenient manner</li>
        <li>Contacting you regarding updates to our policies</li>
    </ul>
    <br>
    <h4>Length of time personal information is stored</h4>
    <p>We may store your personal information for an extended period of time, depending on how we need to use the information. We will comply with GDPR guidelines to ensure your information is only stored for as long as necessary.</p>
    <br>
    <h4>Who the information is shared with</h4>
    <p>How your information is shared will fully comply with all GDPR guidelines.</p>
    <p>For some of the features in our website and app, we use a third-party API for map technology. We may share your location information with this service in order to provide the best experience for you. However, we will ensure your data is shared securely and will not be seen by anyone else.</p>
    <p>We will not share your personal information with any other third-party companies or services.</p>
    <br>
    <h4>Information security</h4>
    <p>We do our best to keep your private information secure and safe, complying with all GDPR guidelines.</p>
    <p>Most of your personal information is encrypted and is therefore protected from being accessed by outsider users. However, data leaks and malicious attack do happen. Please understand that while we do our best to protect your data, we cannot completely guarantee security of information, so providing your personal information is at your own risk.</p>
    <br>
    <h4>Ability to decline to provide personal information</h4>
    <p>Following GDPR guidelines and regulation, you can, of course, decline to disclose your personal information to us. However, the failure to provide us with relevant information may limit your ability to fully benefit form our website and app, and all of its offerings. Remember, we only ask for personal information that can help us fully  provide services to our customers.</p>
    <br>
    <h4>You can download a copy of our privacy policy <a href="{% static 'Privacy Policy.pdf' %}" download="Privacy Policy.pdf">here</a></h4>
</div>
{% endblock %} 