.welcome {
    margin: auto;
    top: 5%;
    position: relative;
    text-align: center;
}

h1 {
    color: white;
}

p {
    color: white;
}

.text-wrap a {
    color: white;
}

.text-wrap a:hover {
    color: #9efeab;
}