body {
    background-image: url(./melanfolia-HSr_FUzDH2w-unsplash-blur.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    background-position-y: center;
    background-position-x: center;
}

.navbar-nav .nav-link {
    color: #fff;
}