{% extends 'home/base.html'%}

{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'game.css' %}" />
<div id="main">
    {% for i in level_numbers%}
    {% if i == 1%}
    <div class="card text-bg-success text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">Level 1</div>
        <div class="card-body">
            <h5 class="card-title">Pick up some litter</h5>
            <p class="card-text">Find 1 piece of litter take a photo then submit by clicking button below for 100 points
            </p>
            <a href="litter/report" class="btn" style="background-color: #007d69;">Submit Photo</a>
        </div>
    </div>
    {% elif i|divisibleby:5%}
    <div class="card text-bg-warning text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">Level {{i}}</div>
        <div class="card-body">
            <h5 class="card-title">Pick up some litter</h5>
            <p class="card-text">Find 5 pieces of litter take a photo then submit by clicking button below for 100
                points</p>
            <a href="#" class="btn" style="background-color: #FFD700;">Submit Photo</a>
        </div>
    </div>
    {%else%}
    <div class="card text-bg-secondary text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">Level {{i}}</div>
        <div class="card-body">
            <h5 class="card-title">Pick up some litter</h5>
            <p class="card-text">Find 1 piece of litter take a photo then submit by clicking button below for 100 points
            </p>
            <a href="#" class="btn" style="background-color: #5c636a;">Submit Photo</a>
        </div>
    </div>
    {%endif%}
    {% endfor %}
</div>
{%endblock%}