{% extends 'home/base.html'%}

{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'game.css' %}" />
<div id="main">
    {%if current_context.points == 1000%}
    <div class="card text-bg-warning text-center mb-3" style="max-width: 18rem;">
        {%else%}
        <div class="card text-bg-success text-center mb-3" style="max-width: 18rem;">
            {%endif%}
            <div class="card-header">Level {{current_context.number}}</div>
            <div class="card-body">
                {% if current_context.name == "saving"%}
                <h5 class="card-title">Attend an event</h5>
                <p class="card-text">Attend {{current_context.tasks}} events for {{current_context.points}}
                    points</p>
                <a href="/study_area/event/" class="btn" style="background-color: #007d69;">Find Event</a>
                {% elif current_context.name == "interest"%}
                <h5 class="card-title">Visit a place of interest </h5>
                <p class="card-text">Visit a place of interest {{current_context.tasks}} times for
                    {{current_context.points}} points</p>
                <a href="/poi/map" class="btn" style="background-color: #007d69;">View map</a>
                {% else %}
                <h5 class="card-title">Pick up some litter</h5>
                <p class="card-text">Find {{current_context.tasks}} pieces of litter take a photo then submit by
                    clicking button below for {{current_context.points}} points</p>
                <a href="/litter/report" class="btn" style="background-color: #007d69;">Submit Photo</a>
                {% endif %}
            </div>
        </div>
        {% for level_context in level_contexts%}
        {%if level_context.points == 1000%}
        <div class="card text-bg-warning text-center mb-3" style="max-width: 18rem;">
            {%else%}
            <div class="card text-bg-secondary text-center mb-3" style="max-width: 18rem;">
                {%endif%}
                <div class="card-header">Level {{level_context.number}}</div>
                <div class="card-body">
                    {% if level_context.name == "saving"%}
                    <h5 class="card-title">Attend an event</h5>
                    <p class="card-text">Attend {{current_context.tasks}} events for {{current_context.points}}
                        points</p>
                    {% elif level_context.name == "interest"%}
                    <h5 class="card-title">Visit a place of interest </h5>
                    <p class="card-text">Visit a place of interest {{level_context.tasks}} times for
                        {{level_context.points}} points</p>
                    {% else %}
                    <h5 class="card-title">Pick up some litter</h5>
                    <p class="card-text">Find {{level_context.tasks}} pieces of litter for {{level_context.points}}
                        points</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {%endblock%}