{% extends 'home/base.html'%}

{%block content%}
{% load static %}
{% if announcements or suggestions %}
    <ul>
        {%for announcement in announcements%}
        <li>
            <a href="announcement/{{announcement.id}}">{{ announcement.post_name }}</a>
        </li>
        {% endfor %}
        {%for suggestion in suggestions %}
            <li><a href="suggestion/{{suggestion.id}}">{{ suggestion.post_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No instances are available.</p>
{% endif %}
{%endblock%}