{%  extends "base.html" %}
{% block content %}
{% if is_staff or requester_id == instance.user_id %}
    <p>{{instance}}</p>
    {% if instance.approved == 0 %}
        <p>Status: Pending</p>
    {% elif instance.approved == 1 %}
        <p>Status: Approved</p>
    {% elif instance.approved == 2 %}
        <p>Status: Rejected</p>
    {% endif %}
    {% if instance.img %}
        <img src="{{ instance.img.url }}" width="500">
    {% endif %}
    {% if is_staff %}
        <br/>
        {% if submitted %}
            Litter instance updated succefully.
            <br/>
        {% elif instance.approved == 0 %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <input type="submit" value="Submit">
            </form>
        {% endif %}       
    {% endif %}
{% else %}
    <p>You do not have permission to view this instance</p>
{% endif %}
<br/>
<a href="{% url 'litter:latest' %}">Back</a>
{% endblock %}