{%  extends "base.html" %}
{% block content %}
{% load static %}
    <script src="{% static 'report.js' %}"></script>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center">
            <h1>Report an instance of litter</h1>
        </div>
    </div>
<br/><br/>
{% if submitted %}
    <div class="row mb-3">
        <div class="col-sm-12 text-center">
            <span class="">Litter reported succefully.</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center">
            <a role="button" class="btn btn-success" href="{% url 'litter:instance' id %}">View report</a>
        </div>
    </div>
{% else %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <form class="col-sm-12 col-md-8 d-flex justify-content-center align-items-center bg-white rounded" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="d-flex align-items-center mt-3">
                            {{ form.as_p }}
                        </fieldset>
                
                        <input type="text" name="lat_field" id="lat_field" hidden="hidden">
                        <input type="text" name="lon_field" id="lon_field" hidden="hidden">
                        <button type="submit" class="btn btn-danger m-2">Report</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}