{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}" />
<div class="container welcome">
    <div class="large-box" style="background-color: #f2f2f2; border: 4px solid #000000; padding: 20px; display: flex;">
        <div style="flex: 1;">
            <h1 style="color: black;">{{ event.name }}</h1>
            <p style="color: black;">Location: {{ event.location }}</p>
            <p style="color: black;">Description: {{ event.description }}</p>
            <p style="color: black;">Start Time: {{ event.date_time }}</p>
            {% if event_state == 0 %}
            <p style="color: black;">Event hasn't started yet.</p>
            {% endif %}
            {% if event_state == 1 %}
            <p style="color: black;">Event is ongoing.</p>
            {% if user.username in attendees %}
            <p style="color: black;">You have attended the event, points have been rewarded. Enjoy the Event!</p>
            {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ user.username }}">
                <input type="hidden" name="code" value="attend">
                <button type="submit" class="btn" style="background-color: #007d69;">Attend Event</button>
            </form>
            {% endif %}
            {% endif %}
            {% if event_state == 2 %}
            <p style="color: black;">Event has ended.</p>
            {% endif %}
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            {% if is_staff %}
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="renew">
                    <button type="submit" class="btn" style="background-color: #007d69;">Renew event ip - make sure you
                        are in center of venue</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col-auto">
            <a href="{% url 'event' %}" class="btn" style="background-color: #007d69;">Return to Events</a>
        </div>
    </div>
</div>
{% endblock %}