{% extends 'home/base.html'%}

{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'shop.css' %}" />
<div id="main">
    {% if response %}
    <div class="alert {%if success %}alert-success{%else%}alert-warning{%endif%}" role="alert">
        {%if success%}
        You successfully redeemed your prize an email will be sent to you
        {%else%}
        Insufficient points to redeem prize
        {%endif%}
    </div>
    {%endif%}
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'amazon-giftcard.png' %}" class="card-img-top" alt="amazon giftcard">
                <div class="card-body text-center">
                    <h5 class="card-title">Amazon giftcard sweepstake</h5>
                    <p class="card-text">Enter amazon giftcard sweepstake</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.amazon}}"
                            style="width:{{completion.amazon}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">10,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="amazon" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'john-lewis.png' %}" class="card-img-top" alt="john lewis">
                <div class="card-body text-center">
                    <h5 class="card-title">John Lewis giftcard sweepstake</h5>
                    <p class="card-text">Enter John Lewis giftcard sweepstake</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.john_lewis}}"
                            style="width:{{completion.john_lewis}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">10,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="john_lewis" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blackwells.png' %}" class="card-img-top" alt="blackwells">
                <div class="card-body text-center">
                    <h5 class="card-title">Blackwells giftcard</h5>
                    <p class="card-text">Cash in points for the giftcard to the University bookshop</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.blackwells}}"
                            style="width:{{completion.blackwells}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">50,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="blackwells" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Ram_bar_logo.jpg' %}" class="card-img-top" alt="Ram logo">
                <div class="card-body text-center">
                    <h5 class="card-title">Ram bar discount card</h5>
                    <p class="card-text">Cash in points for the discount to the University bar</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.ram}}"
                            style="width:{{completion.ram}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">50,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="ram" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'student-guild.png' %}" class="card-img-top" alt="Student Guild logo">
                <div class="card-body text-center">
                    <h5 class="card-title">Student Guild discount card</h5>
                    <p class="card-text">Cash in points for the discount at the University Student Guild</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.student_guild}}"
                            style="width:{{completion.student_guild}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">50,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="student_guild" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'TMP-Forum-logo.jpg' %}" class="card-img-top" alt="Marketplace logo">
                <div class="card-body text-center">
                    <h5 class="card-title">The Marketplace discount card</h5>
                    <p class="card-text">Cash in points for the discount to the University food shop</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0"
                            aria-valuemax="{{prize_to_points.marketplace}}"
                            style="width:{{completion.marketplace}}%;background-color: #007d69;">
                        </div>
                    </div>
                    <p class="card-text">50,000 points</p>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="prize" id="prize" value="marketplace" class="btn"
                            style="background-color: #007d69;">Redeem</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}